
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1%;
}

.logo {
  padding-right: 5%;
}

.logo img {
  height: 4em;
  width: 4em;
}

.main-select {
  display: flex;
  justify-content: space-around;
}

.select-one {
  text-decoration: none !important;
  text-decoration-color: none;
}

.select-image {
  width: 30%;
}
/*
  =====================================
  BOOKS.HTML
  =====================================
*/

.book-details {
  display: flex;
}

.book-cover {
  height: 15em;
}

/*
  ====================================
  ADDBOOK.HTML FORM
  ====================================
*/

.add-form {
  width: 40%;
  margin-left: 20%;
}

.add-input {
  max-width: 80%;
}

.author-list {
  
}
